*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("resim.jpg");
    background-size: cover;
    backdrop-filter: blur(3px);
    
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid red;
    width: 95%;
    margin: auto;
}

#logo {
    color: white;
    margin-left: 100px;
    text-align: center;
    font-size: 20px;
}

#spancolor{
    color: red;
}

#nav a{
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
}

#nav a:hover{
    transition: all .50s ease;
    color:white;
    background-color:silver;
}

#nav li{
    display: inline;
    padding: 0px 10px;
}

#twitch a{
    color: blueviolet;
}


.container {
    width: 95%;
    margin-left: 60px;
    overflow: hidden;
    color:white;
    text-align: left;
}

.container h1{
    font-size: 4rem;
    margin-top: 50px;
}

.rules h2{
    font-size: 35px;
    margin-top: 30px;
}

.rules li{
    font-size: 16px;
    margin-top: 20px;
    border-left: 1px solid red;
    padding-left: 10px;

}

h4{
    margin-top: 30px;
    font-size: 25px;
    padding: 10px;
    text-align: left;
}

#pes {
    color: red;
}

.iletisim{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
    margin: auto;
    width: 95%;
    margin: auto;
    overflow: hidden;
    color:white;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

.iletisim h2{
    align-items: center;
    font-size: 25px;
    padding: 10px;
}


.iletisim li{
    display: inline;
    color: white;
    text-decoration: none;
    padding: 12px 22px;
}
